@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

/* 
font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif; 
*/

body {
    margin: 0;
    font-family: 'Roboto', sans-serif; 
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Dancing Script', cursive;  
}

header {
    background-color: #ffe6a7;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 8px 24px;
}

header a {
    font-size: 32px;
    color: #432818;
}

header ul a {
    font-size: 18px;
}

header img {
    height: 48px;
    width: auto;
}

header ul { 
    display: flex;
    gap: 24px;
    margin-left: auto;
}

section.hero {
    display: flex;
    align-items: center;
    background-color: #ffe6a7;
    justify-content: space-between;
    padding: 32px;
}

section.hero img {
    height: 400px;
    width: auto;
}

section.hero h1 {
    font-size: 48px;
    margin: 0;
}

section.hero p {
    width: 450px;
}

.btn {
    background-color: #6f1d1b;
    color: #ffe6a7;
    padding: 8px 16px;
    border-radius: 8px;
}

section.drinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #432818;
    padding: 32px;
    gap: 32px;
}

section.drinks h2{
    font-size: 36px;
}

section.drinks img {
    height: 250px;
    background-color: #99582a;
    padding: 8px;
    border-radius: 8px;
}

section.drinks ul {
    display: flex;
    gap: 16px;
}

section.drinks p {
    text-align: center;
    font-size: 24px;
    font-style: italic;
    margin: 16px;
}